# Dependencies
node_modules/

# Playwright outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Allure
allure-results/
allure-report/

# Logs
logs/
*.log

# Local env
.env

# OS / Editor
.DS_Store
.vscode/
